/**
 * Digital Inspector - Main Stylesheet
 * Imports all modular CSS files
 */

@import url('base.css');
@import url('header.css');
@import url('hero.css');
@import url('upload.css');
@import url('loading.css');
@import url('results.css');
@import url('notifications.css');
@import url('modal.css');
@import url('interactive.css');
@import url('features.css');
@import url('footer.css');
@import url('animations.css');
